<header>
  <h1>Maze</h1>

  <form class="new-room" ng-submit="$ctrl.addRoom($ctrl.newRoomId, $ctrl.newRoomX, $ctrl.newRoomY)">
    <input ng-model="$ctrl.newRoomId" type="number" name="id" placeholder="id value"/>
    <input ng-model="$ctrl.newRoomX" type="number" name="x" placeholder="x coordinate"/>
    <input ng-model="$ctrl.newRoomY" type="number" name="y" placeholder="y coordinate"/>
    <input type="submit"/>
  </form>
  
</header>
 
<ul>
  <li ng-repeat="room in $ctrl.rooms">
    {{room.x}},{{room.y}}: {{room.passages}}
  </li>
</ul>
<ul>
  <li ng-repeat="passage in $ctrl.passages">
    {{passage.source_id}},{{passage.destination_id}}: {{passage.direction}}
  </li>
</ul>
